SPA

Webpack (imports/exports)
	Babel
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------
		
// Классы (Header, Toolbar, Formula, Table) - отвечают за внутренние компоненты внутри Excel
// Excel - корневой компонент для страницы "Excel" (формирует шаблон ???)
// $root - корневой элемент каждого компонента страницы (формируется в Excel.js методом getRoot() )

1.
 - В index.js Создаётся объект класса Excel (excel). В него передаётся (при создании) дескриптор #app и объект,
	содержащий массив Компонентов - [Header, Toolbar, Formula, Table]
 - на этом объекте вызывается метод класса Excel 'render()'
					// excel.render()
* Компоненты - классы без создания объектов класса (инстансов). Сами инстансы этих классов создаются позже
	методом render() класса excel

* Excel - обёртка (родитель) для всех внутренних компонентов (Header, Toolbar, Formula, Table)
	у экземпляра класса Excel создаётся объект класса Emitter для передачи его по ссылке всем компонентам приложения
	для взаимодействия через него со всеми этими компонентами.
	 - передаётся он при создании нового компонента в методе Excel "getRoot()"

* ExcelComponent - класс, от которого наследуются все компоненты (Header, Toolbar, Formula, Table)


	Взаимодействие внутри приложения:
	** два типа:
	1. - через состояние приложения
	2. - через событийную модель

	// Observer
	Класс Emitter 

	 экземпляр класса - объект

	 метод emit() {} // для уведомления слушателей
	  - первым параметром передаётся название события (строка)
		- вторым параметром передаётся объект с данными // напр - (...args)

	 метод subscribe() {} // для подписки на уведомления или добавления нового слушателя
	  - первым параметром принимает название события
		- вторым параметром принимает функцию


** $on() 		- оболочка в ExcelComponent для подписки на ивент
		(подписка (subscribe() + передача в массив 'unsubscribers') )
** $emit() 	- оболочка в ExcelComponent для инициализации ивента /this.emitter.emit(event, ...args)/ (??)