SPA

Webpack (imports/exports)
	Babel
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------
		
// Классы (Header, Toolbar, Formula, Table) - отвечают за внутренние компоненты внутри Excel
// Excel - корневой компонент для страницы "Excel" (формирует шаблон ???)
// $root - корневой элемент каждого компонента страницы (формируется в Excel.js методом getRoot() )
