SPA

Webpack (imports/exports)
	Babel
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------
		
// Классы (Header, Toolbar, Formula, Table) - отвечают за внутренние компоненты внутри Excel
// Excel - корневой компонент для страницы "Excel" (формирует шаблон ???)
// $root - корневой элемент каждого компонента страницы (формируется в Excel.js методом getRoot() )

1.
 - В index.js Создаётся объект класса Excel (excel). В него передаётся (при создании) дескриптор #app и объект,
	содержащий массив Компонентов - [Header, Toolbar, Formula, Table]
 - на этом объекте вызывается метод класса Excel 'render()'
					// excel.render()
* Компоненты - классы без создания объектов класса (инстансов). Сами инстансы этих классов создаются позже
	методом render() класса excel